#tool-bar{
    background-color: #f6f8cb;
    align-items: center;
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#tool-bar2{
    background-color: #fff;
    align-items: center;
    display:flex;
}

.tool-link{
    border: none;
    padding: 0px 00px 0px 30px;
    background-color: #c4c4c4;
    cursor:pointer;
    transition: background .3s;
    border-radius: 6px;
    margin: 0 50px;
    font-size: 18px;
    width: 80px;
    height: 80px;
}
.tool-link:hover{
    background-color: #d5d5a7;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
}

#Coleções h1{
    margin: 0px ;
    text-align: center;
    font-family: 'Habibi';  
    font-size: 60px;
    background-color: #d5d5a7;
    padding-top: 40px;
}
#Coleções h2{
    text-align: center;
    font-family: 'Habibi', cursive;
    font-size: 40px;
}

#Coleções{
    background-color: beige;
    padding-bottom: 200px;
}
#imagens{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center; 
}

.col{
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
    cursor:pointer;
}

#bras{
    display:flex;
    justify-content: space-around;
    padding-bottom: 80px;
}
#Marcas h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.bra{
    padding: 0px 100px;
}

#Footer{
    display:flex;
    background-color: #c4c4c4;
    align-items: center;
}
.btnF{
    border: none;
    background-color: #c4c4c4;
    cursor:pointer;
    transition: background .3s;
    border-radius: 6px;
    margin: 0px 53px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

#about_us{
    background-color: #464646;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#about_us h1{
    font-family: 'Habibi';    
    font-size: 60px;
}

#time{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #464646;
}

.membro{
    background-color: #f6f8cb;
}

#desc{
    background-color: #464646;
    font-family: 'Habibi';
    display: flex;
    justify-content: space-around;
    padding-bottom: 220px;
    padding-top: 100px;
}

#produtos_glasses_f1{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
}

#produtos_glasses_f2{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 100px;
}

#produtos_glasses_f2 h3{
    font-family: 'Bebas Neue', cursive;
}

.produtos{
    margin-bottom: 60px;
    margin-top: 30px;
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
