
#tool-bar{
    background-color: #f6f8cb;
    align-items: center;
    display:flex;
}

#tool-bar2{
    background-color: #fff;
    align-items: center;
    display:flex;
}
#bot{
   margin: 0px 150px;
   display:flex;
   justify-content: space-around;
}
#tool-bar img{
    padding: 30px 30px; 
}
#tool-bar2 img{
    padding: 30px 30px; 
}
.btn{
    border: none;
    padding: 0px 20px;
    background-color: #c4c4c4;
    cursor:pointer;
    transition: background .3s;
    border-radius: 6px;
    margin: 0 50px;
    font-size: 25px;
    display:flex;
    align-items:center;
}
.btn:hover{
    background-color: #d5d5a7;
}

#Coleções h1{
    margin: 0px ;
    text-align: center;
    font-family: 'Rock 3D', cursive;    
    font-size: 60px;
    background-color: #d5d5a7;
    padding-top: 40px;
}
#Coleções h2{
    text-align: center;
    font-family: 'Rock 3D', cursive;
    font-size: 40px;
}

#Coleções{
    background-color: beige;
    padding-bottom: 200px;
}
#imagens{
    margin-top: 80px;
    display:flex;
    justify-content: space-around;
    
}

#col1{
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
#col2{
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
#col3{
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
#bras{
    display:flex;
    justify-content: space-around;
    padding-bottom: 80px;
}
#Marcas h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

#bra1{
    padding: 0px 100px;
}
#bra2{
    padding: 0px 100px;
}
#bra3{
    padding: 0px 100px; 
}
#bra4{
    padding: 0px 100px;
}
#Footer{
    display:flex;
    background-color: #c4c4c4;
}
.btnF{
    border: none;
    padding: 30px 30px;
    background-color: #c4c4c4;
    cursor:pointer;
    transition: background .3s;
    border-radius: 6px;
    margin: 0px 53px;
    font-size: 20px;
    display:flexbox;
    justify-content: space-around;
    font-family: 'Bebas Neue', cursive;
}
#about_us{
    background-color: #464646;
    padding-bottom: 1000px;

}
#about_us h1{
    font-family: 'Rock 3D', cursive;    
    font-size: 90px;
    padding-top: 250px;
    padding-left: 300px;
}
#conteudo_abus{
    display:flex;
    justify-content: space-around;
}
#about_us p{
    text-align: justify;
    font-size: 30px;
    background-color: #c4c4c4;
    border-radius: 8px;
}
#produtos_glasses_f1{
    display:flex;
    justify-content: space-around;
    text-align: center;
}

#produtos_glasses_f2{
    display:flex;
    justify-content: space-around;
    text-align: center;
    
}

#produtos_glasses_f2 h3{
    font-family: 'Bebas Neue', cursive;
}
#produtos_p1{
    margin-bottom: 60px;
    margin-top: 30px;
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
#produtos_p2{
    margin-bottom: 60px;
    margin-top: 30px;
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
#produtos_p3{
    margin-bottom: 60px;
    margin-top: 30px;
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
#produtos_p4{
    margin-bottom: 60px;
    margin-top: 30px;
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
#produtos_p5{
    margin-bottom: 60px;
    margin-top: 30px;
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
#produtos_p6{
    margin-bottom: 60px;
    margin-top: 30px;
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
#produtos_p7{
    margin-bottom: 60px;
    margin-top: 30px;
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
#produtos_p8{
    margin-bottom: 60px;
    margin-top: 30px;
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
#produtos_p9{
    margin-bottom: 60px;
    margin-top: 30px;
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}
#produtos_p10{
    margin-top: 30px;
    margin-bottom: 60px;
    padding:  15px 30px 30px 30px;
    background-color: #c4c4c4;
}

